VienCNTT/BaiGiang/App_WebReferences/localhost/wsTimSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TinhTong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TinhTongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TinhTongResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimHH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="masp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimHHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimHHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TinhTongSoapIn">
    <wsdl:part name="parameters" element="tns:TinhTong" />
  </wsdl:message>
  <wsdl:message name="TinhTongSoapOut">
    <wsdl:part name="parameters" element="tns:TinhTongResponse" />
  </wsdl:message>
  <wsdl:message name="TimHHSoapIn">
    <wsdl:part name="parameters" element="tns:TimHH" />
  </wsdl:message>
  <wsdl:message name="TimHHSoapOut">
    <wsdl:part name="parameters" element="tns:TimHHResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTimSPSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TinhTong">
      <wsdl:input message="tns:TinhTongSoapIn" />
      <wsdl:output message="tns:TinhTongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimHH">
      <wsdl:input message="tns:TimHHSoapIn" />
      <wsdl:output message="tns:TimHHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTimSPSoap" type="tns:wsTimSPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinhTong">
      <soap:operation soapAction="http://tempuri.org/TinhTong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimHH">
      <soap:operation soapAction="http://tempuri.org/TimHH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTimSPSoap12" type="tns:wsTimSPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinhTong">
      <soap12:operation soapAction="http://tempuri.org/TinhTong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimHH">
      <soap12:operation soapAction="http://tempuri.org/TimHH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTimSP">
    <wsdl:port name="wsTimSPSoap" binding="tns:wsTimSPSoap">
      <soap:address location="http://localhost:59702/wsTimSP.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTimSPSoap12" binding="tns:wsTimSPSoap12">
      <soap12:address location="http://localhost:59702/wsTimSP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>